h1 {
    text-shadow: 2px 2px 1px #111111;
    font-size: 2.5em;
}

h1, div, figcaption, figure, footer {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 15px 20px; /* top, right, bottom, left */
}

footer, nav {
    text-shadow: 2px 1px 1px #111111;
}

body {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    font-family: Helvetica;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/forest.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    color: #bec7d2;
}

main {
    background-color: rgba(0,0,0,0.7);
    font-size: 105%;
    padding-bottom: 20px;
    border-radius: 10px;
}

figure {
    padding-top: 20px;
}

figcaption {
    padding-bottom: 20px;
}

header, footer, article {
    padding: 15px 0px; /* top/bottom, then left/right padding */
}

section {
    padding-top: 5px;
}

p, h2 {
    padding: 0px 100px;
}

a:link, a:visited, span {
    color: #f7e279;
}

a:hover {
    color: springgreen;
}

a:active {
    color: #00cc00;
}

#ocs {
    width: 80%;
}

.video, .oot {
    padding: 20px;
}

.oot {
    width: 40%;
}

.top {
    padding-top: 15px;
}

.bottom {
    padding-bottom: 15px;
}